# Python Basics
## By elham heidari

Note: Python is a case-sensitive language.

In [1]:
8 + 10

18

Some Useful Keyboard Shortcuts:

Run Cell: Ctrl + enter

Create new cell: Esc + a (above), Esc + b (below)

Run Cell and creat new cell: Ctrl + shift

Copy Cell: Ctrl + c

Paste Cell: Ctrl + v

Save notebook: Esc + s

Auto-completion: Tab while writing code

Help: Shift + Tab

In [2]:
x = 15 #assignement

In [3]:
x

15

*** Rules for writing identifiers in Python:

Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _.

An identifier cannot start with a digit.

Keywords words cannot be used as identifiers, such as: False, elif, None, else, nonlocal, lambda, True, except, not, and, finally, or, as, for, pass, assert, from, raise, break, global, return, class, if, try, continue, import, while, def, in, with, del, is, yield.

Valid or invalid identifiers in Python?

c001, tot@l, 5um, _cost, daily.demand, True, u_200

In [1]:
True = 4 #error

SyntaxError: cannot assign to True (3755197981.py, line 1)

In [2]:
tot@l=3

SyntaxError: cannot assign to operator (4238816736.py, line 1)

## Numbers

In [6]:
x = 1 #int
x

1

In [7]:
type(x)

int

In [8]:
y = 1.6 #float
y

1.6

In [9]:
type(y)

float

## Strings

In [10]:
'abc'

'abc'

In [3]:
type('1')

str

In [4]:
'1' + 2

TypeError: can only concatenate str (not "int") to str

In [ ]:
# محاسباتی عملگرها

## Arithmetic Operators

In [5]:
x = 5
y = 17

In [8]:
s1=x + y
s1

22

In [9]:
x - y

-12

In [10]:
y / x

3.4

In [11]:
y // x

3

In [12]:
y % x

2

In [13]:
10 ** 2

100

In [14]:
#Operator Precedence
8 - 2 * 3

2

## Comparison Operators

In [21]:
x == 5

True

In [22]:
x >= 12

False

In [23]:
x < y

True

## Assignment Operators

In [14]:
a = 1
a=a+1

In [17]:
a += 1

In [18]:
a

3

In [27]:
b = 5
b *= b
b

25

## Logical Operators

In [ ]:
#and  or not

In [28]:
not(True)

False

In [29]:
True and False

False

In [30]:
True or False

True

In [31]:
not(x > 0)

False

In [32]:
(x > 0) and (y < -1)

False

In [ ]:
#in عضویت  is

## Lists  []

Lists are ordered sequences that can hold a variety of object types.

In [13]:
l1 = ['abc', 100, 5.90, 100,True]
l1

['abc', 100, 5.9, 100, True]

In [20]:
type(l1)

list

In [21]:
len(l1)

5

In [22]:
l1[0]

'abc'

In [23]:
l1[-1]

True

In [25]:
l1

['abc', 100, 5.9, 100, True]

In [26]:
l1[1 : 3]

[100, 5.9]

In [27]:
l1[1 : ]

[100, 5.9, 100, True]

In [39]:
l1[-1]

100

In [ ]:
#تابع و خصوصیت

In [28]:
l1.index(5.9)

2

In [12]:
#Method
l1.index('abc')

NameError: name 'l1' is not defined

In [41]:
l1.count(100)

2

In [30]:
l1.append(7.01)
l1

['abc', 100, 5.9, 100, True, 7.01]

In [31]:
l1.insert(1,20)
l1

['abc', 20, 100, 5.9, 100, True, 7.01]

In [32]:
l1[0] = 0
l1

[0, 20, 100, 5.9, 100, True, 7.01]

In [ ]:
#range()

In [33]:
l2 = list(range(1, 6))
l2

[1, 2, 3, 4, 5]

In [34]:
#Concatination
l3 = l1 + l2
l3

[0, 20, 100, 5.9, 100, True, 7.01, 1, 2, 3, 4, 5]

In [11]:
l4 = [l1, l2]
l4

NameError: name 'l1' is not defined

In [36]:
l4[1][1]

2

## Dictionaries

Dictionaries are unordered mappings for sorting objects.

In [1]:
d1 = {'k1': 30, 'k2': 40, 'k3': 'a'}
d1

{'k1': 30, 'k2': 40, 'k3': 'a'}

In [2]:
type(d1)

dict

In [50]:
d1['k1']

30

In [3]:
d1['k3']

'a'

In [4]:
d2 = {'k1': 12.5, 
      'k2': [0, 1, 2, 3, 4], 
      'k3': {'k3_1': 'abc', 'k3_2': 'def'}}
d2

{'k1': 12.5, 'k2': [0, 1, 2, 3, 4], 'k3': {'k3_1': 'abc', 'k3_2': 'def'}}

In [5]:
d2['k2']

[0, 1, 2, 3, 4]

In [6]:
d2['k2'][2]

2

In [54]:
d2.keys()

dict_keys(['k1', 'k2', 'k3'])

In [55]:
d2['k4'] = 300
d2

{'k1': 12.5,
 'k2': [0, 1, 2, 3, 4],
 'k3': {'k3_1': 'abc', 'k3_2': 'def'},
 'k4': 300}

In [8]:
d2['k3']['k3_1'] = "efg"
d2

{'k1': 12.5, 'k2': [0, 1, 2, 3, 4], 'k3': {'k3_1': 'efg', 'k3_2': 'def'}}

In [9]:
d2['k3']['k3_2']=10
d2

{'k1': 12.5, 'k2': [0, 1, 2, 3, 4], 'k3': {'k3_1': 'efg', 'k3_2': 10}}

In [15]:
#Access to user-defined varibales:
#Magic Commands: 
#https://ipython.readthedocs.io/en/stable/interactive/magics.html
%whos

Variable   Type    Data/Info
----------------------------
a          int     2
d1         dict    n=3
d2         dict    n=3
l1         list    n=5

In [16]:
del(a)
%whos

Variable   Type    Data/Info
----------------------------
d1         dict    n=3
d2         dict    n=3
l1         list    n=5

## Tuples

Tuples are very similar to lists, however they are immutable.

In [25]:
t1 = (1, 4, 4,4,4, 'abc')
t1

(1, 4, 4, 4, 4, 'abc')

In [27]:
t1[-1]=0

TypeError: 'tuple' object does not support item assignment

In [18]:
type(t1)

tuple

In [19]:
len(t1)

4

In [20]:
t1[0]

1

In [24]:
t1[-1]

'abc'

In [63]:
t1.index('abc')

3

In [64]:
t1.count(4)

2

In [65]:
#Tuple does not support item assignment
t1[0] = 0 #error

TypeError: 'tuple' object does not support item assignment

## Sets

Sets are unordered collections of unique elements.

In [32]:
s0={2,12}
type(s0)

set

In [34]:
s1 = {3, 5, 7, 7, 7,7,7,7, 9}
s1

{3, 5, 7, 9}

In [37]:
s1.add(30)
s1

{1, 3, 5, 7, 9, 20, 30}

In [38]:
#Set is not subscriptable
s1[0] #error

TypeError: 'set' object is not subscriptable

In [39]:
l10=[20,10,16,18,19,20]

In [41]:
set(l10)

{10, 16, 18, 19, 20}

## If Else Statement

In [45]:
b=20
if b>10:
    print("true")

true

In [47]:
a = -1
if a > 0:
    print('The number is positive')

In [48]:
a = -2
if a > 0:
    print('The number is psoitive')
else:
    print('The number is negative')

The number is negative

In [49]:
a = 0
if a > 0 :
    print('The number is positive')
elif a < 0 :
    print('The number is negative')
else:
    print('The number is zero')

The number is zero

## Loops

### For Loops

In [51]:
l2=[1,3,5,8]
l2

[1, 3, 5, 8]

In [52]:
for i in l2:
    print(i ** 2)

1
9
25
64

In [ ]:
#range (1,20,2)

In [53]:
for i in range(2, 10,2):
    print(i ** 2)

4
16
36
64

In [54]:
l = []
for i in range(1, 10):
    l.append(i)
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [56]:
#List comprehension
l = [_ for _ in range(1, 6)]
l

[1, 2, 3, 4, 5]

In [55]:
l3=[x for x in range(1,20,2)]
l3

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [79]:
#List of odd numbers between 1 and 20
l = [_ for _ in range(1, 21, 2)]
l

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
l3=[1,2,3,4,5,6,7,8,9,10]

In [60]:
l4=[_ for _ in range(1,5)]
l4

[1, 2, 3, 4]

In [61]:
#Nested for
#10 * 10 multiplication table
#Create an empty nested list
table = [[None for _ in range(10)] for _ in range(10)]
table

[[None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None],
 [None, None, None, None, None, None, None, None, None, None]]

In [62]:
for i in range(len(table)):
    for j in range(len(table)):
        table[i][j] = (i + 1) * (j + 1) 
        
table

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 [2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [5, 10, 15, 20, 25, 30, 35, 40, 45, 50],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60],
 [7, 14, 21, 28, 35, 42, 49, 56, 63, 70],
 [8, 16, 24, 32, 40, 48, 56, 64, 72, 80],
 [9, 18, 27, 36, 45, 54, 63, 72, 81, 90],
 [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]]

### While Loops

In [65]:
c = 1
while c <= 5:
    print(c ** 2)
    c += 1

1
4
9
16
25

In [ ]:
#continue  and brake

## Assignment

Q1:

    a: Create l1 which is a list of odd numbers from 1 to 10. 

    b: Create l2 which is a list of prime numbers from 1 to 10. 

    c: Concatinate l1 and l2 to create l3.

    d: Calculate the length of list l3

    e: Count the number of occurance of 5 in l3.

    f: Add number 10 to l3.

    g: Sort l3 in ascending order.

    h: Replace all even numbers in l3 with 0.

Q2: Using keys and indexing, grab the 'hello' from the following dictionaries:

     d = {'k1':{'k2':'hello'}}
 
     d = {'k1':[{'nest_key':['this is deep', ['hello']]}]}
  
     d = {'k1':[1, 2, {'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}]}

Q3: Use list comprehension to create a list of all numbers between 1 and 50 that are divisible by 3.

Q4: Write a code to find if a positive integer is prime or not.

Q5: Generate the numbers of the Fibonacci sequence that are less than 10,000,000.

    Hint: https://en.wikipedia.org/wiki/Fibonacci_number

# End of Code